.button {
    height: 3rem;
    padding: 0 3rem;
    border-radius: 2.5rem;
    background: #00a5ff;
    opacity: 0.8;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid #fff;
    transition: 0.4s;
}

.button:hover {
    background: #e5ddfe;
    color: #222;
    border-color: #00a5ff;
    opacity: 1;
}
